In [ ]:
#Q1

In [ ]:
# Create a dictionary containing different types of data
data_variable = {
    'string': 'Hello, World!',
    'list': [1, 2, 3, 4, 5],
    'float': 3.14,
    'tuple': (10, 20, 30)
}

# Print the variable
print(data_variable)
# Create a dictionary containing different types of data
data_variable = {
    'string': 'Hello, World!',
    'list': [1, 2, 3, 4, 5],
    'float': 3.14,
    'tuple': (10, 20, 30)
}

# Print the variable
print(data_variable)

In [ ]:
#Q2

In [1]:
# Define the variables
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.0

# Print the types of each variable
print("var1 type:", type(var1))  # <class 'str'>
print("var2 type:", type(var2))  # <class 'str'>
print("var3 type:", type(var3))  # <class 'list'>
print("var4 type:", type(var4))  # <class 'float'>

var1 type: <class 'str'>
var2 type: <class 'str'>
var3 type: <class 'list'>
var4 type: <class 'float'>

In [ ]:
#Q3

In [2]:
a = 10
b = 3
result = a / b
print(result)  # Output: 3.3333333333333335

3.3333333333333335

In [3]:
a = 10
b = 3
result = a % b
print(result)  # Output: 1

1

In [4]:
a = 2
b = 3
result = a ** b
print(result)  # Output: 8

8

In [5]:
a = 2
b = 3
result = a ** b
print(result)  # Output: 8

8

In [ ]:
#Q4

In [6]:
# List containing multiple types of data
mixed_list = [42, 'Hello', 3.14, True, None, [1, 2, 3], {'key': 'value'}, (4, 5), {9, 8, 7}, b'byte']

# Using a for loop to print each element and its data type
for element in mixed_list:
    print(f'Element: {element}, Type: {type(element)}')

Element: 42, Type: <class 'int'>
Element: Hello, Type: <class 'str'>
Element: 3.14, Type: <class 'float'>
Element: True, Type: <class 'bool'>
Element: None, Type: <class 'NoneType'>
Element: [1, 2, 3], Type: <class 'list'>
Element: {'key': 'value'}, Type: <class 'dict'>
Element: (4, 5), Type: <class 'tuple'>
Element: {8, 9, 7}, Type: <class 'set'>
Element: b'byte', Type: <class 'bytes'>

In [ ]:
#Q5

In [7]:
# Define the numbers
A = 64
B = 2

# Initialize count
count = 0

# Use a while loop to divide A by B as long as A is divisible by B
while A % B == 0:
    A = A // B
    count += 1

# Print the result
print(f'The number can be divided {count} times.')

The number can be divided 6 times.

In [ ]:
#Q6

In [8]:
# Create a list containing 25 integers
int_list = list(range(1, 26))  # This will create a list from 1 to 25

# Use a for loop to iterate through the list
for number in int_list:
    # Check if the number is divisible by 3
    if number % 3 == 0:
        print(f'{number} is divisible by 3')
    else:
        print(f'{number} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
#Q7